# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable tern-j-s': 'tern-j-s:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'tern-j-s'
      'submenu': [
        { 'label': 'Toggle', 'command': 'tern-j-s:toggle' }
      ]
    ]
  }
]
